:host {
  width: 70%;
  color: white;
  border-width: 10px;
  border-color: #2449f2;
  border-radius: 5px;
  padding-left: 10px;

  .mat-table {
    background: black;
    color: white;
    width: 100%;
  }


}
