<h1>Stored Products:</h1>
<table mat-table [dataSource]="tableData" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef> Customer </th>
    <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="storedFrom">
    <th mat-header-cell *matHeaderCellDef> Stored From </th>
    <td mat-cell *matCellDef="let element"> {{element.storedFrom | date: 'long'}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="storedUntil">
    <th mat-header-cell *matHeaderCellDef> Stored Until </th>
    <td mat-cell *matCellDef="let element"> {{element.storedUntil  | date: 'long'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Unit </th>
    <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>

