<mat-table [dataSource]="products" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="customer">
    <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.customer}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="storedFrom">
    <mat-header-cell *matHeaderCellDef> Stored From </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.storedFrom | date: 'medium'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="storedUntil">
    <mat-header-cell *matHeaderCellDef> Stored Until </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.storedUntil | date: 'medium'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="storageUnitId">
    <mat-header-cell *matHeaderCellDef> Storage Unit </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.storageUnitId}} </mat-cell>
  </ng-container>

<!--  <ng-container matColumnDef="action">-->
<!--    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>-->
<!--    <mat-cell *matCellDef="let element">-->
<!--      <div *ngIf="productsService.isProductToBeStored(element)">-->
<!--        <button mat-raised-button color="primary" (click)="onRowClick(element)">Assign</button>-->
<!--      </div>-->
<!--      <div *ngIf="productsService.isProductStored(element)">-->
<!--        <button mat-raised-button color="accent" (click)="onRowClick(element)">Unstore</button>-->
<!--      </div>-->
<!--    </mat-cell>-->
<!--  </ng-container>-->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
