<div class="dashboard">
  <div class="dashboard-row">
    <app-chart [multi]="humidtyData" [yAxisLabel]="'humidity in %'"></app-chart>
    <app-chart [multi]="temperatureData" [yAxisLabel]="'temperature in °C'" [primaryColor]="'#03b5fc'"></app-chart>
    <app-chart [multi]="luminanceData" [yAxisLabel]="'luminance in lux'" [primaryColor]="'#8003fc'"></app-chart>
    <app-chart [multi]="powerData" [yAxisLabel]="'power in W'" [primaryColor]="'#fcbc0a'"></app-chart>
  </div>
  <div class="dashboard-row">
    <app-list [products]="arriving"></app-list>
    <app-table [tableData]="stored"></app-table>
  </div>
</div>

<mat-toolbar color='primary'>
  <span class="sens-vals">
      <p>Timestamp: </p>
      <p>{{timestamp | date: "dd.MM.yy HH.mm.ss:SSS"}}</p>
      <p>Temperature: {{temperature | number}} {{temperatureUnit ? temperatureUnit.substr(1, temperatureUnit.length) : ''}}</p>
      <p>Humidity: {{humidity | number}} {{humidityUnit}}</p>
      <p>Luminance: {{luminance| number}} {{luminanceUnit}}</p>
      <p>Power: {{power| number}} {{powerUnit}}</p>
      <p>Cooling: <span class="dot" [ngClass]="{
        'dot-off' : cooling == 0,
        'dot-on' :  cooling == 1}"></span>
      </p>
  </span>

  <span>
    <button mat-flat-button (click)="turnOffCooling()" color="accent" style="color: black" *ngIf="cooling==1"><mat-icon>ac_unit</mat-icon>Turn Off</button>
    <button mat-flat-button (click)="turnOnCooling()" color="accent" style="color: black" *ngIf="!cooling || cooling==0"><mat-icon>ac_unit</mat-icon>Turn On</button>
    <button mat-flat-button (click)="switchLight()"  color="accent" style="color: black"><mat-icon>wb_incandescent</mat-icon>Switch</button>
  </span>

</mat-toolbar>
