::ng-deep .ngx-charts { text { fill: #fff !important; } }

:host {
  height: 100%;
}


.mat-toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;

  .sens-vals {
    display: flex;
    justify-content: start;
  }

  p {
    font-size: small;
    margin-left: 5px;
  }

  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  .dot-on {
    background-color: #4cf64c;
  }

  .dot-off {
    background-color: #f63232;
  }

  button {
    margin-left: 5px;
  }
}

.dashboard {

  vertical-align: bottom;
  display: flex;
  flex-flow: row wrap;
}

.dashboard-row {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
