<div>
  <h1>Incoming Products:</h1>
  <app-product-table [inputProducts]="products" [displayedColumns]="displayedColumns" [filter]="incomingFilter"></app-product-table>
  <button mat-raised-button color="primary" (click)="productsService.getStorageAssignment()">Assign incoming products</button>
</div>

<div>
  <h1>Stored Products:</h1>
  <app-product-table [inputProducts]="products" [displayedColumns]="displayedColumns" [filter]="storedFilter"></app-product-table>
</div>

<div>
  <h1>Finished Products:</h1>
  <app-product-table [inputProducts]="products" [displayedColumns]="displayedColumns" [filter]="finishedFilter"></app-product-table>
</div>
