<h1>Incoming Products:</h1>
<mat-list>
  <mat-list-item *ngFor="let product of products">
    <h3 matLine> {{product.name}} </h3>
    <p matLine>
      <span>Quantity: {{product.quantity}} {{product.unit}} </span><br>
      <span>Arrives:  {{product.storedFrom | date: 'long'}} </span>
    </p>
  </mat-list-item>
</mat-list>
