
<h2 mat-dialog-title>Suggested Assignment</h2>

<mat-dialog-content>
  <p>Product can be stored in storage room:</p>
  <p style="font-weight: bold">{{storageUnitId}}</p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Store</button>
</mat-dialog-actions>
