:host {
  width: 100%;
  height: 100%;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.menu-icon {
  order: 0;
}

.menu-header {
  order: 1;

}

.menu-user {
  order: 2;
}
