<mat-toolbar color='primary'>
    <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="menu-heading">SWASS - Smart Warehouse as a Service</h1>
    <div class="menu-user">
        <button mat-icon-button>
            <mat-icon>notifications_none</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="navigate('')">
        <mat-icon>dashboard</mat-icon>
        Home
    </button>
    <button mat-menu-item (click)="navigate('ProductAssignment')">
      <mat-icon>add_business</mat-icon>
      Assign Product
    </button>
</mat-menu>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        Settings
    </button>
    <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-menu>

<router-outlet></router-outlet>
