<mat-tab-group mat-align-tabs="end" (selectedTabChange)="onLinkClick($event)" dynamicHeight>
  <mat-tab *ngFor="let element of rooms" label="Storage Unit #{{element.id}}" >
    <app-room [storageUnit]="element"></app-room>
  </mat-tab>
</mat-tab-group>
